{% extends 'myapp/base.html' %}
{% block content %}

<h4>Reorder Suggestions</h4>

<div class="table-responsive">
<table class="table table-striped table-hover shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Safety Stock</th>
            <th>Reorder Point</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in reorder_items %}
        <tr>
            <td>{{ item.product.sku }}</td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.quantity }}</td>
            <td>{{ item.safety_stock }}</td>
            <td>{{ item.reorder_point }}</td>

            <td>
                {% if item.needs_reorder %}
                    <span class="badge bg-danger">Reorder</span>
                {% else %}
                    <span class="badge bg-success">OK</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>



{% endblock %}
